/* layout.css */
header {
    position: sticky;
    top: 0;
    z-index: 1100;
    background: #181818;
    width: 100%;
  }
  header h1 {
    color: #e50914;
    font-weight: 800;
    font-size: 2.3em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
  }
  main {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  